{{#shapes}}
 .icon--{{base}} {
   width: {{width.outer}}px;
   height: {{width.outer}}px;
   background-image: url('/temp/sprite/css/{{{sprite}}}');
   background-position: {{position.relative.xy}};
 }
{{/shapes}}
